@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Fraunces', serif;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 2;
    background-color: #24492E;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #b68e56;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 5px;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #b68e56;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #3d22171f;
}

button:active {
    background-color: #ddc594;
}

button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}

.multiplicador {
    padding-top: 10px;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #000000;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}

#valor-actual {
    font-size: 1.5em;
}

#valor-anterior {
    font-size: 2em;
}